@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Preparing colors */
:root {
    --main-color: #1172da;
    --secondly-color: #214fba;
    --text-color: #1b1b1b;
    --white-color: #fff;
    --dark-color: #2b2b2b;
}

/* Some variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",Arial,Helvetica,sans-serif;
    line-height: 1.5;
}

body {
  font-size: 100%;
  line-height: 1.5;
  background-color: #fff;
  -webkit-tap-highlight-color: #1172da94
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul li {
    list-style: none;
}

/* Custom selection color */
::-moz-selection {
    color: white;
    background: #214fba;
  }
  
  ::selection {
    color: white;
    background: #214fba;
  }

/* Navbar */
nav {
    width: 100%;
    justify-content: space-around;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 50px 0 5px;
    z-index: 999;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 12px 14px;
}

nav ul li a {
    font-weight: 500;
}

nav ul li a:hover {
    color: var(--main-color);
}

.boxed a{
  border: 2px solid var(--main-color)!important;
  background-color: var(--main-color);
  color: white;
}

.boxed a:hover {
  color: white;
}

nav .nav-brand {
    padding: 8px 16px;   
    padding-bottom: 2px;
    font-size: 1.4em; 
    font-weight: 700;
}

nav .nav-brand a {
    color: var(--main-color);
}

nav .nav-brand a:hover {
    color: var(--secondly-color);
}

.nav-links {
  padding: 6px;
}

.hambuger:checked {
  background-color: var(--main-color)!important;
}

.hambuger {
  height: 40px;
  display: none;
  padding: 9px;
  float: right;
  cursor: pointer;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;
}

.hambuger span {
  width: 31px;
  display: block;
  border-top: 4px solid #777;
}

.no-pad {
    background-color: rgba(255,255,255,.95);
    padding: 4px;
    transition: all .5s;
    border-bottom: 1px solid #eee;
}

.button a {
    border: 2px solid #777;
    border-radius: 4px;
    padding: 8px;
}

.button a:hover {
    border-color: var(--main-color);
    transition: all 0.8s;
}

.nav-brand .motor {
  font-size: 13px;
  color: #777;
  display: inline-block;
  line-height: 1.8em;
  padding-left: 10px;
  border-left: 1px solid #ccc;
}

@media screen and (max-width: 880px) {
    nav {
        justify-content: unset;
        flex-direction: column;
        padding-right: 16px;
        padding-left: 16px;
        margin-right: auto;
        margin-left: auto;
    }

    .checked {
      max-height: 255px!important;
  }

    .nav-links {
      transition: max-height 0.5s;
      max-height: 0;
      overflow: hidden;
      padding: 0;
    }

    .nav-menu {
        transition: max-height 0.5s;
        text-align: right;
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-direction: column;
        font-weight: 500;
        border-radius: 8px;
    }

    .nav-menu li a {
      display: inline-block;
      width: 100%;
    }

    .nav-menu li {
      width: 100%;
    }
    
    nav ul {
        display: none;
    }

    .hambuger {
        cursor: pointer;
        display: flex;
        float: right;
    }
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
}

/* Banner section */    
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh;
    width: 100%;
    background: #f9fafc;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
}

.banner .banner_intro {
    text-align: center;
    font-size: 3.8em;
    letter-spacing: -1px;
    line-height: 1.08;
    font-weight: 600;
    color: #3b3b3b;
    margin-top: 16vh;
}

.banner .banner_information {
    padding-top: 20px;
    line-height: 2;
    text-align: center;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    margin-bottom: 11vh;
    font-weight: 400;
}

.banner .banner_information span {
    font-weight: 500;
    color: var(--secondly-color);
    font-size: 1.8rem;
}

/* About me section */
.aboutme {
   flex-direction: column;
   display: flex;
}

.aboutme .aboutme_info_section {
    padding-top: 8vh;
    padding-bottom: 6vh;
    justify-content: space-around;
    display: flex;
}

.aboutme .aboutme_intro {
    font-size: 2rem;
    text-align: center;
    margin-top: 4px;
    padding: 18px;
}

.aboutme .aboutme_img img {
    width: 280px;
    border: 2px solid #eee;
    border-radius: 4px;
    padding: 4px;
}

.aboutme .aboutme_intro span {
  font-weight: 500;
  width: 100px;
  text-align: center;
  border-bottom: 2px solid #777;
}

.aboutme .aboutme_information {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: #777;
    font-weight: 300;
}

.aboutme .aboutme_information span{
    color: #1b1b1b;
    font-weight: 500;
    font-size: 1.3em;
    padding-bottom: 1vh;
}

@media screen and (max-width: 1200px) {
    .aboutme .aboutme_info_section {
        align-items: center;
        gap: 6vh;
        flex-direction: column;
    }
}

@media screen and (max-width:520px) {
  .aboutme .aboutme_information {
    max-width: 350px;
  }
}

@media screen and (max-width:420px) {
  .aboutme .aboutme_information {
    justify-content: center;
    max-width: 300px;
  }
}

/* Works section */
.works {
    flex-direction: column;
    display: flex;
    background-color: #f9fafc;
    padding-bottom: 2vh;
 }

.works .works_intro {
    font-size: 2rem;
    text-align: center;
    margin-top: 4px;
    padding: 18px;
}

.works .works_intro span {
  font-weight: 500;
  width: 100px;
  text-align: center;
  border-bottom: 2px solid #777;  
}

.works .works_block img {
    opacity: 1;
    display: block;
    width: 400px;
    height: 260px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 8px;
}

.works .works_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 1.6em;
    justify-content: center;
    padding-bottom: 1.4em;
}

.works .works_block .information .work_name{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    display: flex;
    gap: 0.5em;
    transform: translate(8%, -200%);
    -ms-transform: translate(8%, -200%);
    padding: 8px;
    border-radius: 6px;
    text-transform: uppercase;
    color: #eee;
    font-weight: 500;
}

.works .works_block .information .work_link{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  display: flex;
  transform: translate(50%, -140%);
  -ms-transform: translate(50%, -140%);
 background-color: #f9fafc;
  padding: 4px;
  border-radius: 6px;
}

.work_link i {
    padding: 4px;
    border-radius: 4px;
    color: #2b2b2b;
}
  
.works_block {
  background-color: #1b1b1b;
  height: 260px;
  border-radius: 10px;
}

.works_block:hover img {
    opacity: 0.4;
}
  
.works_block:hover .information .work_name{
    opacity: 1;
}

.works_block:hover .information .work_link{
  opacity: 1;
}

@media screen and (max-width: 1340px) {
    .works .works_container {
        grid-template-columns: repeat(2, max-content);
    }
}

@media screen and (max-width: 920px) {
    .works .works_container {
        grid-template-columns: repeat(1, max-content);
    }
}

/* Contact section */
.contact {
    padding-bottom: 4vh;
    background-color: #f0f3f8;
}

.contact_container {
    display: flex;
    justify-content: space-around;
}

.form {
  width: 380px;
}

.contact .contact_intro {
    font-size: 2rem;
    text-align: center;
    margin-top: 4px;
    padding: 18px;
}

.contact .contact_intro span{
  font-weight: 500;
  width: 100px;
  text-align: center;
  border-bottom: 2px solid #777;
}

.contact-information .contact-links{
  padding-top: 1.6em;
  display: flex;
  gap: 0.6em;
  flex-direction: column;
  font-size: 1.08em;
}

.contact-links a {
  width: 150px;
  height: 24px;
  margin-bottom: 6px;
  display: flex;
  color: #3b3b3b;
}

.contact-links a:hover {
  font-size: 1.1em;
  transition: 0.15s ease-in-out;

}

.form .contact-info {
  padding-bottom: 1.6em;
}

.contact h3 {
  border-bottom: 2px solid #777;
  width: 170px;
  text-align: center;
}

.contact-links a i {
  padding-right: 6px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid var(--main-color);
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.btn:active {
  border: none;
  background-color: #3a91ee;
}

.btn--3d {
  border: 1px solid transparent;
  color: #fff!important;
  background: #51c5fd;
  border-width: 0 0 0.2rem;
  border-color: var(--main-color);
  border-radius: 4px;
}

.field {
  width: 100%;
  padding: 0.8rem 0.7rem!important;
  margin-bottom: 16px;
  border-radius: 4px;
  background: #fafafa;
  color: #777;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
}

.form .input-container textarea{
  width: 380px;
}

.form .input-container {
  display: inline-block;
}

textarea {
  resize: none;
}

textarea:active {
  border: 1px solid var(--main-color);
}

.contact-links a:hover{
  color: var(--main-color);
}

@media screen and (max-width: 740px) {
  .contact_container {
    justify-content: center;
    align-items: center;
  }
  
  .contact-information {
    display: none;
  }
}

/* Footer area */
footer {
  background-color: #f9fafb;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 22px;
}

footer .copyright a {
  color: var(--main-color);
  font-weight: 500;
}

footer a:hover {
  color: var(--main-color);
  transition: all 0.2s;
}

.links_area a {
  color: #777;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .links_area a i:hover {
  font-size: 1.3em;
  transition: 0.2s all;
}

@media screen and (max-width: 600px) {
  footer .copyright span{
      display: flex;
  }
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}
